@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media screen and (max-width: 480px){
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}

.main-image {
  height: 200px;
  width: 800px;
}

@media screen and (max-width: 767px){
  .main-image {
    height: 100%;
    width: 100%;
  }
}

body {
  margin: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #1D1D1B;
  text-align: center;
}

h2 {
  font-size: 50px;
}

.input-name {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.input-email {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.input-phone {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.submit-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.submit-button:hover{
  background-color: grey;
  color: white;
  cursor: pointer;
}

.countdown-box{
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
}

.timer {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: 100%;
  height: 100%;
}

.timer div:first-child{
  text-align: center;
}

.timer div:first-child p{
  color: black;
  text-align: center;
  font-weight: 200;
  font-style: italic;
}

.timer div:last-child {
  border: 2px solid black;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  border-style: dotted;
}

section p:first-child, .timer div:last-child span {
  font-size: 2em;
}
